# GitHub Upload Directory
*
!HikCamera/
!module/
!YOLO/
!detector/
!filter/
!pnp_solver/
!UI/

!HikCamera/**
!module/**
!YOLO/**
!detector/**
!filter/**
!pnp_solver/**
!UI/**
!main.cpp

# Test video
!30s.mp4

# Git ignor file
!.gitignore